@using FPTBookStore.Models;
@model List<Cart>
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/LayOut/UserLayout.cshtml";
}
<div id="divGioHang">
    <table border="1" cellpadding="2" cellspacing="15" width="1000" height="400">
        <tr>
            <td>Book Name</td>
            <td>Cover Image</td>
            <td id="TenCot">Price</td>
            <td id="TenCot">Quantity</td>
            <td id="TenCot">Total</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item._BookName</td>
                <td><a href="@Url.Action("ViewDetail", "Book", new { @_BookID = item._BookID})"><img src="@Url.Content("~/ImageBook/"+@item._CoverImage)" width="100" height="150" /></a></td>
                <td id="ChuSo">@string.Format("{0:0,0}", @item._Price) $</td>
                <td id="ChuSo">@item._Quantity</td>
                <td id="ChuSo">@string.Format("{0:0,0}", @item._Total) $</td>
            </tr>
        }
        <tr>
            <td colspan="6" id="ChuSo">
                Total: @Html.Action("TotalCart", "Cart")
            </td>
        </tr>
        <tr>
            <td colspan="6" id="TenCot">
                @using(Html.BeginForm("Bill","Cart"))
                {
                    <input type="submit" style="background-color:green;color:white;font-size:12pt;cursor:pointer" value="Payment" />
                }
            </td>
        </tr>
    </table>
</div>
