@using FPTBookStore.Models;
@model Book
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
@{
    ViewBag.Title = "Book Deatil";
    Layout = "~/Views/LayOut/UserLayout.cshtml";
}
@section NoiDungBenPhai{
    <div id="HinhAnh"><img src="@Url.Content("~/ImageBook/"+Model.CoverImage)" width="300" height="450">
    </div>
    <div id="ThongTin">
        <div id="TenSach">@Model.BookName</div>
        <div id="TieuDe">Category:</div>
        <div id="ChuDe">@ViewBag.CategoryName</div>
        <div id="TieuDe">Publisher:</div>
        <div id="NhaXuatBan">@ViewBag.PublisherName</div>
        <div id="TieuDe">Summary Content:</div>
        <div id="MoTa">@Html.Raw(@Model.Details)</div>
        <div id="Gia">
            <span id="TieuDe">Price: </span>
            <span id="Gia">@string.Format("{0:0,0}", @Model.Price) $</span>
        </div>
        @using (Html.BeginForm("AddCart","Cart",new{@__BookID=Model.BookID,@strURL=Request.Url.ToString()}))
        {
            <input type="submit" style="cursor:pointer" value="Buy &#xf07a;" id="btnGioHang" class="btn btn-primary">
        }
    </div>
    <div style="clear:both"></div>
}
